body{
    box-sizing: border-box;
  display: grid;
  width: 100%;
    background-color: cornflowerblue;
    margin: 0px;
}

#grid{
    display: grid;
    width: 100%;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}

.special-grid-item{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    grid-column-start: 2;
    grid-column-end: 4;
}

.main-layout{
    display: grid;
    margin-top: 6rem;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}

.nav-bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    
    background-color: blue;
    height: 6rem;
}

.intro{
    background-color: cyan;
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 3;
    grid-column-end: 11;
    
}

.title{
    padding: 5%;
}

.nav-content{
    padding-left: 5%;
    grid-column-start: 3;
    grid-column-end: 11;
    background-color: red;
    border: 2px solid cyan;
    margin-bottom: 3rem;
}

.nav-content:first-child{
    margin-top: 3rem;
}

.nav-content img{
    width: 100%
}

.nav-bar-button{
    border: 0;
    width: 20%;
    background-color: blue;
    
}

.nav-bar-logo{
    border: 1px solid black;
    padding: 10px;
    width: 20%;
    height: auto;
}




@media screen and
    (max-width: 350px){
        .nav-content{
            grid-column-start: 1;
            grid-column-end: 14;
        }
}

@media screen and
    (max-width: 350px){
        .nav-content:first-child{
            margin-top: 0;
        }
}

@media screen and
    (max-width: 350px){
        .main-layout{
            margin-top: 3rem;
        }
}

@media screen and
    (max-width: 350px){
        .nav-bar{
            height: 3rem;
        }
}

